.admonition {
    margin-bottom: 20px;
    border: 1px solid transparent;
    text-align: left;
}

.admonition.note { /* csslint allow: adjoining-classes */
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning { /* csslint allow: adjoining-classes */
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger { /* csslint allow: adjoining-classes */
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
}

.side-bar .side-bar__menu .side-bar__link.side-bar__link--collapsed::after{content:"\e922"}
.side-bar .side-bar__menu .side-bar__link.side-bar__link--expanded::after{content:"\e920"}
