<!-- Google Analytics integration -->
{% set analytics = config.google_analytics %}
<script type="application/javascript">
  window.ga = window.ga || function() {
    (ga.q = ga.q || []).push(arguments)
  }
  ga.l = +new Date

  /* Set up integration and send page view */
  ga("create", "{{ analytics[0] }}", "{{ analytics[1] }}")
  ga("set", "anonymizeIp", true)
  ga("send", "pageview")

  /* Register handler to log search on blur */
  document.addEventListener("DOMContentLoaded", function() {
    if (document.forms.search) {
      var query = document.forms.search.query
      query.addEventListener("blur", function() {
        if (this.value) {
          var path = document.location.pathname;
          ga("send", "pageview", path + "?q=" + this.value)
        }
      })
    }
  })

  /* Send page view on document switch (instant loading, custom event) */
  document.addEventListener("DOMContentSwitch", function() {
    ga("send", "pageview", document.location.pathname)
  })
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>