<!-- FOOTER -->
<footer class="footer">
    <div class="footer__body">
        {% if page.previous_page or page.next_page %}
        <ul class="footer__inline-list footer__inline-list--separated">
            <li>{% if page.previous_page %}
                <a class="footer__link padding-top-0"
                    style="text-decoration: none;"
                    href="{{ page.previous_page.url | url }}"
                    title="{{ page.previous_page.title }}"
                    rel="prev">&#8678; Previous Page</a>
                {% else %}
                <a class="footer__link padding-top-0"
                    style="pointer-events: none; cursor: default; text-decoration: none; color: grey"
                    href="{{ page.previous_page.url | url }}"
                    title="{{ page.previous_page.title }}"
                    rel="prev">&#8678; Previous Page</a>
                {% endif %}</li>
            <li>{% if config.copyright %}{{ config.copyright }}{% else %}&nbsp;{% endif %}</li>
            <li>{% if page.next_page %}
                    <a class="footer__link padding-top-0"
                        style="text-decoration: none;"
                        href="{{ page.next_page.url | url }}"
                        title="{{ page.next_page.title }}"
                        rel="next">Next Page &#8680;
                    </a>
                {% else %}
                <a class="footer__link padding-top-0"
                    style="pointer-events: none; cursor: default; text-decoration: none; color: grey"
                    href="{{ page.next_page.url | url }}"
                    title="{{ page.next_page.title }}"
                    rel="next">Next Page &#8680;
                </a>
            {% endif %}</li>
        </ul>
        {% endif %}
    </div>
</footer>