<nav class="app-layout__top-bar top-bar">
    <a class="top-bar__logo">
        <img alt="KPN Logo" src="{{ 'img/logo-kpn.png'| url }}" />
    </a>

    <!-- Header title -->
    <div class="top-bar__title" style="font-weight: bold;">
        {{ config.site_name }}
    </div>

    <ul class="top-bar__menu">
        <!--
        Create a search form that sends the user to the search.html file - this is
        the other file in the template which adds search to the theme. The only
        requirement here is that there is a text input with the name 'q' and the
        action and methods match below.
        -->
        
        {%- if 'search' in config['plugins'] %}
        <li class="top-bar__item">

            <span role="search" id="search-input-wrapper">
            <form action="{{ 'search.html' | url }}" method="get">
                <input type="text" class="input" id="search-input" name="q" placeholder="Search" />
            </form>
            </span >
        </li>
        {%- endif %}
        
        <!-- Support repo URL -->
        <li class="top-bar__item">
            {% if config.repo_url and not config.extra.use_edit_url %}
                <a class="top-bar__link repo-link"
                href="{{ config.repo_url }}" target="_blank" rel="noopener noreferrer">
                    <img height="25" alt="{{ config.repo_name }}" src="{{ 'img/git-icon-black.png' | url }}" />
                </a>
            {% elif page and page.edit_url %}
                <a class="top-bar__link repo-link"
                href="{{ config.edit_url }}" target="_blank" rel="noopener noreferrer">
                    <img height="25" alt="{{ config.repo_name }}" src="{{ 'img/git-icon-black.png' | url }}" />
                </a>
            {% endif %}
        </li>
        <li class="top-bar__item top-bar__item--trigger"></li>
    </ul>
</nav>