<!--
Create the navigation for the documentation.

Because we don't know how many levels deep the navigation is, it needs to
be included in it's own file so it can be recursive. Otherwise the theme
can also only support a specific number of levels.

See the nav.html file for more details about how this works.
-->
<nav class="app-layout__side-bar side-bar">
    <div class="side-bar__action-bar">
        <a class="side-bar__link" href="/">{{ config.site_name }}</a>
        <button class="side-bar__close"></button>
    </div>
    <ul class="side-bar__menu">
        {% for nav_item in nav %}
            {% include "partials/nav_item.html" %}
        {% endfor %}
    </ul>
</nav>