<!-- Create the table of contents -->

{% if page.toc %}
<div class="sidebar--secondary hidden-s hidden-xs">
  <h4>Table of contents</h4>
  <ul>
  {% for toc_item in page.toc %}
      <li><a class="a" href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
      {% for toc_item in toc_item.children %}
          <li class="child-li"><a class="a child" href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
      {% endfor %}
  {% endfor %}
  </ul>
</div>
{% endif %}